name: Secrets and variables

on:
  push

jobs:
  show-data:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: use secret
        run: 'echo "using secret (masked): ${{ secrets.BOOTSTRAP_KEY }}"'

      - name: use variable
        run: 'echo "Environment variable: ${{ vars.ENVIRONMENT }}"'